<div class="sidebar">
	<aside>
		<div class="top">
			<div class="logo">
				<img src="{{ asset('images/graph.png') }}">
				<h2>DASH<span class="danger">BOARD</span>
				</h2>
			</div>
			<div class="close" id="close-btn">
				<span class="material-icons-sharp">close</span>
			</div>
		</div>
		<div class="sidebar">
 			<a href="{{ path('homepage_index') }}" {% if app.request.attributes.get('_route') == 'homepage_index' %}class="active"{% endif %}>
				<span class="material-icons-sharp">home</span>
				<h3>Dashboard</h3>
			</a>
			<a href="{{ path('events_index') }}"  {% if app.request.attributes.get('_route') == 'events_index' %}class="active"{% endif %}>
				<span class="material-icons-sharp">event</span>
				<h3>Events</h3>
			</a>
			<a href="{{ path('user_ranks_index') }}"  {% if app.request.attributes.get('_route') == 'user_ranks_index' %}class="active"{% endif %}>
				<span class="material-icons-sharp">star</span>
				<h3>Ranks</h3>
			</a>
			<a href="{{ path('achievements_index') }}"  {% if app.request.attributes.get('_route') == 'achievements_index' %}class="active"{% endif %}>
				<span class="material-icons-sharp">emoji_events</span>
				<h3>Achievements</h3>
			</a>
			<a href="{{ path('badges_index') }}"  {% if app.request.attributes.get('_route') == 'badges_index' %}class="active"{% endif %}>
				<span class="material-icons-sharp">military_tech</span>
				<h3>Badges</h3>
			</a>
			<a href="{{ path('app_logout') }}">
				<span class="material-icons-sharp">exit_to_app</span>
				<h3>Logout</h3>
			</a>
		</div>
	</aside>
</div>
