{% extends "layout.html.twig" %}

{% block title %}New Event
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.form-control {
			border: 2px solid #ccc;
			border-radius: 5px;
			box-shadow: none;
			padding: 10px;
			font-size: 0.82rem;
			width: 100%;
			transition: border-color 0.3s ease-in-out;
			color: #000;
		}
		.form-control:focus {
			outline: none;
			border-color: #ffbb55;
			box-shadow: 0 0 0 0.2rem rgba(255, 187, 85, 0.25);
		}
		.form-control-lg {
			font-size: 0.82rem;
			padding: 15px;
		}
		.form-row {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
		}
		.form-group {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			text-align: left;
		}
		.form-group label {
			color: var(--color-dark-variant);
		}
	</style>
{% endblock %}

{% block bodyContent %}
	<div class="main-table">
		<div class="table">
			<div class="container">
				<h2 class="mb-4">New Event</h2>
				<div class="row justify-content-center mt-5">
					<div class="col-md-6">
						{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
						{{ form_errors(form) }}
						<div class="form-group">
							{{ form_label(form.name, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(form.points, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
							{{ form_widget(form.points, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(form.description, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
							{{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg'}}) }}
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
